@media (max-width: 768px) {
    .grid {
        grid-template-columns: 1fr;
    }

    .header-image {
        height: 65px;
    }

    .header-content h1 {
        font-size: 1.4rem;
    }

    form {
        padding: 18px;
    }

    .form-section {
        padding: 18px;
    }

    .form-actions {
        justify-content: stretch;
    }

    .form-actions .btn {
        width: 100%;
    }

    input,
    select,
    textarea {
        width: 95%;
    }

    .section-inner-header {
        margin: -18px -18px 18px -18px;
    }

    .form-manual-footer {
        padding: 100px 28px 10px;
        gap: 80px;
    }
}